# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs

# Binary Directories
/MPU/x64/Debug
/MPU/x32/Debug
/x64/Debug
/x32/Debug
/Analysis/x64/Debug
/Analysis/x32/Debug
/IO/x64/Debug
/IO/x32/Debug
/UI/x64/Debug
/UI/x32/Debug
